@use '../base/colors';
@use '../helpers/typography';
@use '../utilities/mixins';

.copy {
	@include mixins.transition($duration:0.1s);
	cursor: pointer;
	white-space: nowrap;

	&:hover {
		background-color: colors.$lightgray-light;
	}

	&:active {
		opacity: 0.8;
		&:after {
			opacity: 1;
		}
	}

	&.is-rounded {
		@include mixins.border-radius(9999px,9999px);
	}
}
