@use '../utilities/all' as *;

@each $key, $val in $font-sizes {
	.font-size-#{$key} {
		font-size: $val;
	}
}

@each $key, $val in $font-weights {
	.font-weight-#{$key} {
		font-weight: $val;
	}
}

* {
	@each $key, $val in $font-sizes {
		&.is-size-#{$key} {
			font-size: $val;
		}
	}
}

.has-text-centered {
	text-align: center !important;
}

.heading {
	display: block;
	letter-spacing: 1px;
	text-transform: uppercase;
}
