@use '../utilities/all' as *;

$card-color: $text !default;
$card-background-color: $scheme-main !default;
$card-radius: 0.25rem !default;

$card-header-background-color: transparent !default;
$card-header-color: $text-strong !default;
$card-header-padding: 0.75rem 1rem !default;
$card-header-weight: $font-weight-bold !default;

$card-content-background-color: transparent !default;
$card-content-padding: 1.5rem !default;

$card-footer-background-color: transparent !default;
$card-footer-border-top: 1px solid !default;
$card-footer-padding: 0.75rem !default;

$card-media-margin: $block-spacing !default;

.card {
  @include themed {
    background-color: t($card-background-color);
    color: t($card-color);
  }
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),
              0 0    0   1px     rgba(10,10,10,.02);
  outline: 1px solid rgba(255,255,255,0.2);
  border-radius: $card-radius;
  max-width: 100%;
  position: relative;
}

card-item {
  &:first-child {
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
  }
  &:last-child {
    border-bottom-left-radius: $card-radius;
    border-bottom-right-radius: $card-radius;
  }
}

.card-header {
  @extend card-item;
  background-color: $card-header-background-color;
  align-items: stretch;
  @include themed {
    box-shadow: 0 0.125em 0.25em rgba(t($scheme-invert), 0.1);
  }
  display: flex;
}

.card-header-title {
  align-items: center;
  @include themed {
    color: t($card-header-color);
  }
  display: flex;
  flex-grow: 1;
  font-weight: $card-header-weight;
  padding: $card-header-padding;
  &.is-centered {
    justify-content: center;
  }
}

.card-header-icon {
  @include reset;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: $card-header-padding;
}

.card-image {
  display: block;
  position: relative;
  &:first-child {
    img {
      border-top-left-radius: $card-radius;
      border-top-right-radius: $card-radius;
    }
  }
  &:last-child {
    img {
      border-bottom-left-radius: $card-radius;
      border-bottom-right-radius: $card-radius;
    }
  }
}

.card-content {
  @extend card-item;
  background-color: $card-content-background-color;
  padding: $card-content-padding;

  p {
    em {
      opacity: 0.333;
      padding-right: .2em;
      font-style: normal;
      font-family: $font-family-mono;
    }
  }
}

.card-footer {
  @extend card-item;
  background-color: $card-footer-background-color;
  @include themed {
    border-color: t($border-light);
  }
  border-top: $card-footer-border-top;
  align-items: stretch;
  display: flex;
}
.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: $card-footer-padding;
  &:not(:last-child) {
    @include ltr-property("border", $card-footer-border-top);
  }
}

// Combinations
.card {
  .media:not(:last-child) {
    margin-bottom: $card-media-margin;
  }
}

.card-color-swatch {
	height: 16em;
	width: 100%;
	border: none;
	border-top-left-radius: $card-radius;
	border-top-right-radius: $card-radius;
}

// dark mode
@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.5),
                0 0    0   1px     rgba(10,10,10,.52);
  }
}
