@use '../utilities/all' as *;

$menu-item-color: $text !default;
$menu-item-font-weight: $font-weight-bold !default;
$menu-item-hover-color: $text-strong !default;
$menu-item-hover-background-color: $link-hover !default;
$menu-item-active-color: $link-invert !default;
$menu-item-active-background-color: $link !default;

$menu-list-border-color: $border !default;
$menu-list-border-left: 1px solid !default;
$menu-list-line-height: 1.25 !default;
$menu-list-link-padding: 0.6em 1.5em !default;
$menu-nested-list-margin: 0.75em !default;
$menu-nested-list-padding-left: 0.75em !default;

$menu-label-color: $text-light !default;
$menu-label-font-size: 0.75em !default;
$menu-label-letter-spacing: 0.1em !default;
$menu-label-spacing: 1em !default;

.menu {
  font-size: $font-size-normal;
  // Sizes
  &.is-small {
    font-size: $font-size-small;
  }
  &.is-medium {
    font-size: $font-size-medium;
  }
  &.is-large {
    font-size: $font-size-large;
  }
}

.menu-list {
  line-height: $menu-list-line-height;
  a {
    @apply rounded-full;
    @include transition;
    @include themed {
      color: t($menu-item-color);
    }
    font-weight: $menu-item-font-weight;
    display: inline-block;
    padding: $menu-list-link-padding;
    &:hover {
      @include themed {
        background-color: t($menu-item-hover-background-color);
        color: t($menu-item-hover-color);
      }
      &::after {
        display: none;
      }
    }
    // Modifiers
    &.is-active {
      @include themed {
        background-color: t($menu-item-active-background-color);
        color: t($menu-item-active-color);
      }
    }
    &.is-external-link {
      svg {
        @include themed {
          fill: t($logo);
        }
      }
      margin-top: 1.5em;
      border: 2px solid;
      @include themed {
        border-color: t($external-link-border);
      }
      &:hover {
        @include themed {
          background-color: t($external-link-hover-background);
          color: t($external-link-hover);
        }
      }
    }
  }
  li {
    ul {
      @include themed {
        border-color: t($menu-list-border-color);
      }
      @include ltr-property("border", $menu-list-border-left, false);
      margin: $menu-nested-list-margin;
      @include ltr-property("padding", $menu-nested-list-padding-left, false);
    }
  }
}

.menu-label {
  padding-left: 1.5em;
  @include themed {
    color: t($menu-label-color);
  }
  font-size: $menu-label-font-size;
  letter-spacing: $menu-label-letter-spacing;
  text-transform: uppercase;
  &:not(:first-child) {
    margin-top: $menu-label-spacing;
  }
  &:not(:last-child) {
    margin-bottom: $menu-label-spacing;
  }
}
