@use '../base/colors';
@use '../helpers/themes';
@use '../helpers/typography';
@use '../utilities/controls';
@use '../utilities/mixins';

$pagination-margin: 0.25rem !default;

.pagination {
	@include mixins.block;
	font-size: typography.$font-size-6;
	margin: $pagination-margin;

	// sizes
	&.is-small {
		font-size: typography.$font-size-7;
	}
	&.is-large {
		font-size: typography.$font-size-5;
	}
	&.is-xlarge {
		font-size: typography.$font-size-4;
	}
	&.is-rounded {
		.pagination-previous,
		.pagination-next {
			padding-left: 1em;
			padding-right: 1em;
			@include mixins.border-radius(9999px,9999px);
		}
		.pagination-link {
			@include mixins.border-radius(9999px,9999px);
		}
	}
}

.pagination,
.pagination-list {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}

.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis {
	@include controls.control;
	@include mixins.unselectable;
	font-size: 1em;
	justify-content: center;
	text-align: center;
	margin: 0.25rem;
	padding: calc(.1em - 1px) 0.5em;
}

.pagination-previous,
.pagination-next,
.pagination-link {
	@include themes.themed() {
		border-color: themes.t(themes.$border);
		min-width: 2.5em;
	}
	&:active {
		@include mixins.box-shadow;
	}
	&:hover {
		&::after {
			content: none;
		}
	}
}

.pagination-previous,
.pagination-next {
	white-space: nowrap;
	padding-left: 0.75em;
	padding-right: 0.75em;
}

.pagination-link {
	&.is-current {
		@include themes.themed() {
			background-color: themes.t(themes.$link);
			border-color: themes.t(themes.$link);
			color: white;
		}
	}
}

.pagination-ellipsis {
	pointer-events: none;
}

.pagination-list {
	flex-wrap: wrap;
	li {
		list-style: none;
	}
}

@include mixins.mobile {
	.pagination {
		flex-wrap: wrap;
	}
	.pagination-previous,
	.pagination-next {
		flex-grow: 1;
		flex-shrink: 1;
	}
	.pagination-list {
		li {
			flex-grow: 1;
			flex-shrink: 1;
		}
	}
}

@include mixins.tablet {
	.pagination-list {
		flex-grow: 1;
		flex-shrink: 1;
		justify-content: flex-start;
		order: 1;
	}
	.pagination,
	.pagination-previous,
	.pagination-next,
	.pagination-link,
	.pagination-ellipsis {
		margin-bottom: 0;
		margin-top: 0;
	}
	.pagination-previous {
		order: 2;
	}
	.pagination-next {
		order: 3;
	}
	.pagination {
		justify-content: space-between;
		&.is-centered {
			.pagination-previous {
				order: 1;
			}
			.pagination-list {
				justify-content: center;
				order: 2;
			}
			.pagination-next {
				order: 3;
			}
		}
		&.is-right {
			.pagination-previous {
				order: 1;
			}
			.pagination-next {
				order: 2;
			}
			.pagination-list {
				justify-content: flex-end;
				order: 3;
			}
		}
	}
}
