@use '../utilities/all' as *;

$title-color: $text-strong !default;
$title-family: false !default;
$title-size: $font-size-3 !default;
$title-weight: $font-weight-semibold !default;
$title-line-height: 1.125 !default;
$title-strong-color: inherit !default;
$title-strong-weight: inherit !default;
$title-sub-size: 0.75em !default;
$title-sup-size: 0.75em !default;

$subtitle-color: $text !default;
$subtitle-family: false !default;
$subtitle-size: $font-size-5 !default;
$subtitle-weight: $font-weight-normal !default;
$subtitle-line-height: 1.25 !default;
$subtitle-strong-color: $text-strong !default;
$subtitle-strong-weight: $font-weight-semibold !default;
$subtitle-negative-margin: -1.25rem !default;

.title,
.subtitle {
  @extend block;
  word-break: break-word;
  em,
  span {
    font-weight: inherit;
  }
  sub {
    font-size: $title-sub-size;
  }
  sup {
    font-size: $title-sup-size;
  }
  .tag {
    vertical-align: middle;
  }
}
.title {
  @include themed {
    color: t($title-color);
  }
  @if $title-family {
    font-family: $title-family;
  }
  font-size: $title-size;
  font-weight: $title-weight;
  line-height: $title-line-height;
  strong {
    color: $title-strong-color;
    font-weight: $title-strong-weight;
  }
  &:not(.is-spaced) + .subtitle {
    margin-top: $subtitle-negative-margin;
  }
  // Sizes
  @each $i, $font-size in $font-sizes {
    &.is-#{$i} {
      font-size: $font-size;
    }
  }
}
.subtitle {
  @include themed {
    color: t($subtitle-color);
  }
  @if $subtitle-family {
    font-family: $subtitle-family;
  }
  font-size: $subtitle-size;
  font-weight: $subtitle-weight;
  line-height: $subtitle-line-height;
  strong {
    @include themed {
      color: t($subtitle-strong-color);
    }
    font-weight: $subtitle-strong-weight;
  }
  &:not(.is-spaced) + .title {
    margin-top: $subtitle-negative-margin;
  }
  // Sizes
  @each $i, $font-size in $font-sizes {
    &.is-#{$i} {
      font-size: $font-size;
    }
  }
}
