@use 'functions';

// core brand
$oxfordblue:    #0D203F;
$seagreen:      #34E8BD;

// secondary accents
$colablue:      #0E8FDD;
$lavender:      #BEA7E5;
$rust:          #EF946C;

// tertiary shades
$darkocean:     #0A455A;
$darkolive:     #1F7A8C;
$darkplum:      #525776;
$darkspace:     #213762;

$midblue:       #345995;
$midgreen:      #1FBCA0;

$lightgray:     #D9DBE8;
$lightlavender: #ECE5EE;
$lightlemon:    #F9F7EE;
$lightplum:     #D3C3D9;

$brand-colors: (
    'oxfordblue': $oxfordblue,
    'seagreen': $seagreen,
    'colablue': $colablue,
    'lavender': $lavender,
    'rust': $rust,
    'darkocean': $darkocean,
    'darkolive': $darkolive,
    'darkplum': $darkplum,
    'darkspace': $darkspace,
    'midblue': $midblue,
    'midgreen': $midgreen,
    'lightgray': $lightgray,
    'lightlavender': $lightlavender,
    'lightlemon': $lightlemon,
    'lightplum': $lightplum
);

// light/dark variants
$oxfordblue-xlight: lighten($oxfordblue, 10%);
$oxfordblue-light: lighten($oxfordblue, 5%);
$oxfordblue-dark: darken($oxfordblue, 5%);
$oxfordblue-xdark: darken($oxfordblue, 10%);

$seagreen-xlight: lighten($seagreen, 20%);
$seagreen-light: lighten($seagreen, 10%);
$seagreen-dark: darken($seagreen, 10%);
$seagreen-xdark: darken($seagreen, 20%);

$colablue-xlight: lighten($colablue, 20%);
$colablue-light: lighten($colablue, 10%);
$colablue-dark: darken($colablue, 10%);
$colablue-xdark: darken($colablue, 20%);

$lavender-xlight: lighten($lavender, 20%);
$lavender-light: lighten($lavender, 10%);
$lavender-dark: darken($lavender, 10%);
$lavender-xdark: darken($lavender, 20%);

$rust-xlight: lighten($rust, 20%);
$rust-light: lighten($rust, 10%);
$rust-dark: darken($rust, 10%);
$rust-xdark: darken($rust, 20%);

$darkocean-xlight: lighten($darkocean, 10%);
$darkocean-light: lighten($darkocean, 5%);
$darkocean-dark: darken($darkocean, 5%);
$darkocean-xdark: darken($darkocean, 10%);

$darkolive-xlight: lighten($darkolive, 10%);
$darkolive-light: lighten($darkolive, 5%);
$darkolive-dark: darken($darkolive, 5%);
$darkolive-xdark: darken($darkolive, 10%);

$darkplum-xlight: lighten($darkplum, 10%);
$darkplum-light: lighten($darkplum, 5%);
$darkplum-dark: darken($darkplum, 5%);
$darkplum-xdark: darken($darkplum, 10%);

$darkspace-xlight: lighten($darkspace, 10%);
$darkspace-light: lighten($darkspace, 5%);
$darkspace-dark: darken($darkspace, 5%);
$darkspace-xdark: darken($darkspace, 10%);

$midblue-xlight: lighten($midblue, 20%);
$midblue-light: lighten($midblue, 10%);
$midblue-dark: darken($midblue, 10%);
$midblue-xdark: darken($midblue, 20%);

$midgreen-xlight: lighten($midgreen, 20%);
$midgreen-light: lighten($midgreen, 10%);
$midgreen-dark: darken($midgreen, 10%);
$midgreen-xdark: darken($midgreen, 20%);

$lightgray-xlight: lighten($lightgray, 10%);
$lightgray-light: lighten($lightgray, 5%);
$lightgray-dark: darken($lightgray, 5%);
$lightgray-xdark: darken($lightgray, 10%);

$lightlavender-xlight: lighten($lightlavender, 5%);
$lightlavender-light: lighten($lightlavender, 3%);
$lightlavender-dark: darken($lightlavender, 3%);
$lightlavender-xdark: darken($lightlavender, 5%);

$lightlemon-xlight: lighten($lightlemon, 3%);
$lightlemon-light: lighten($lightlemon, 1%);
$lightlemon-dark: darken($lightlemon, 1%);
$lightlemon-xdark: darken($lightlemon, 3%);

$lightplum-xlight: lighten($lightplum, 3%);
$lightplum-light: lighten($lightplum, 1%);
$lightplum-dark: darken($lightplum, 1%);
$lightplum-xdark: darken($lightplum, 3%);


// shortcuts
$primary: 'primary';
$link: 'link';
$info: 'info';
$success: 'success';
$warning: 'warning';
$danger: 'danger';

$colors: $primary, $link, $info, $success, $warning, $danger;

$scheme-main: 'scheme-main';
$scheme-invert: 'scheme-invert';

$background: 'background';

$border: 'border';
$border-hover: 'border-hover';
$border-light: 'border-light';
$border-light-hover: 'border-light-hover';

$text: 'text';
$text-invert: 'text-invert';
$text-light: 'text-light';
$text-strong: 'text-strong';

$logo: 'logo';

$code: 'code';
$code-background: 'code-background';

$pre: 'pre';
$pre-background: 'pre-background';

$link-invert: 'link-invert';
$link-light: 'link-light';
$link-dark: 'link-dark';
$link-visited: 'link-visited';
$link-hover: 'link-hover';
$link-focus: 'link-focus';
$link-active: 'link-active';

$shadow: 'shadow';

$border: 'border';
$border-strong: 'border-strong';
$border-hover: 'border-hover';
$border-light: 'border-light';
$border-light-hover: 'border-light-hover';

$external-link-border: 'external-link-border';
$external-link-hover: 'external-link-hover';
$external-link-hover-background: 'external-link-hover-background';

$button-background: 'button-background';
$card-background: 'card-background';
$card-content-background: 'card-content-background';
$card-border: 'card-border';
$message-background: 'message-background';
$tag-background: 'tag-background';
$tag-text: 'tag-text';
$menu-label: 'menu-label';

// themes
$themes: (
	light: (
		primary: $oxfordblue-light,
		link: $colablue-dark,
		info: $lavender-dark,
		success: $midgreen-dark,
		warning: $rust,
		danger: $rust-dark,
		scheme-main: white,
		scheme-invert: functions.findColorInvert(white),
		text: $oxfordblue,
		text-invert: functions.findColorInvert($oxfordblue),
		text-light: $oxfordblue-xlight,
		text-strong: $oxfordblue-xdark,
		logo: $oxfordblue,
		code: $midblue,
		code-background: $lightlavender,
		pre: $lavender,
		pre-background: $oxfordblue,
		link-invert: functions.findColorInvert($colablue-dark),
		link-light: $colablue-light,
		link-dark: $colablue-xdark,
		link-visited: $colablue-xdark,
		link-hover: $lightlavender-light,
		link-focus: $lightlavender,
		link-active: $lightlavender,
		shadow: $lightgray-dark,
		background: $lightlavender-xlight,
		border: $lavender-light,
		border-strong: $lavender,
		border-hover: $lightgray-dark,
		border-light: $lightgray-xlight,
		border-light-hover: $lightgray-light,
		external-link-border: $seagreen,
		external-link-hover: white,
		external-link-hover-background: $seagreen,
		button-background: white,
		card-background: $lightlavender-xlight,
		card-content-background: white,
		card-border: $lightlavender,
		message-background: $darkplum-light,
		tag-background: $seagreen-xlight,
		tag-text: $oxfordblue,
		menu-label: gray,
	),
	dark: (
		primary: $oxfordblue-xlight,
		link: $seagreen,
		info: $lavender-dark,
		success: $midgreen-dark,
		warning: $rust,
		danger: $rust-dark,
		scheme-main: $oxfordblue-light,
		scheme-invert: functions.findColorInvert($oxfordblue),
		text: white,
		text-invert: functions.findColorInvert(white),
		text-light: $lightlavender-xlight,
		text-strong: white,
		logo: white,
		code: $lavender-light,
		code-background: $oxfordblue-dark,
		pre: white,
		pre-background: $oxfordblue-dark,
		link-invert: functions.findColorInvert($seagreen-dark),
		link-light: $seagreen-light,
		link-dark: $seagreen-xdark,
		link-visited: $seagreen-xdark,
		link-hover: $darkspace,
		link-focus: $darkspace,
		link-active: $darkspace,
		shadow: rgba(30,30,30,0.25),
		background: $oxfordblue,
		border: $darkocean,
		border-strong: $lavender-dark,
		border-hover: $lightgray-dark,
		border-light: $lightgray-xlight,
		border-light-hover: $lightgray-light,
		external-link-border: $seagreen,
		external-link-hover: $seagreen,
		external-link-hover-background: $oxfordblue-xlight,
		button-background: white,
		card-background: $oxfordblue-light,
		card-content-background: $oxfordblue-light,
		card-border: $oxfordblue-dark,
		message-background: $darkplum-light,
		tag-background: $darkspace,
		tag-text: $lavender,
		menu-label: white,
	),
);

@mixin themed() {
	@each $theme, $map in $themes {
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge($theme-map, ($key: $value)) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function t($key) {
	@return map-get($theme-map, $key);
}


