@use '../utilities/all' as *;

$box-color: $text !default;
$box-background-color: $scheme-main !default;
$box-radius: $radius-large !default;
$box-padding: 1.25rem !default;

.box {
  @apply shadow;
  @extend block;
  @include themed {
    background-color: t($box-background-color);
    color: t($box-color);
  }
  border-radius: $box-radius;
  display: block;
  padding: $box-padding;
}
a.box {
  @include themed {
    &:hover,
    &:focus {
      box-shadow: 0 0.5em 1em -0.125em rgba(t($scheme-invert), 0.1), 0 0 0 1px t($link);
    }
    &:active {
      box-shadow: inset 0 1px 2px rgba(t($scheme-invert), 0.2), 0 0 0 1px t($link);
    }
  }
}
