@use '../utilities/all' as *;

$copy-hover-background-color: $link-hover !default;

.copy {
	@extend transition;
	transition-duration: 0.1s;
	cursor: pointer;

	&:hover {
		@include themed {
			background-color: t($copy-hover-background-color);
		}
	}

	&:active {
		opacity: 0.8;
		&:after {
			opacity: 1;
		}
	}

	&.is-rounded {
		@include border-radius($radius-rounded, $radius-rounded);
	}
}
