@use '../utilities/responsive';
@use '../utilities/mixins';

$container-offset: (2 * responsive.$gap) !default;
$container-max-width: responsive.$fullhd !default;

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;

    &:is-fluid {
        max-width: none !important;
        padding-left: responsive.$gap;
        padding-right: responsive.$gap;
        width: 100%;
    }

    @include mixins.desktop {
        max-width: responsive.$desktop - $container-offset;
    }

    @include mixins.until-widescreen {
        &.is-widescreen:not(.is-max-desktop) {
            max-width: min(responsive.$widescreen, $container-max-width) - $container-offset;
        }
    }

    @include mixins.until-fullhd {
        &.is-fullhd:not(.is-max-desktop):not(.is-max-widescreen) {
            max-width: min(responsive.$fullhd, $container-max-width) - $container-offset;
        }
    }

    @include mixins.widescreen {
        &:not(.is-max-desktop) {
            max-width: min(responsive.$widescreen, $container-max-width) - $container-offset;
        }
    }

    @include mixins.fullhd {
        &:not(.is-max-desktop):not(.is-max-widescreen) {
            max-width: min(responsive.$fullhd, $container-max-width) - $container-offset;
        }
    }
}
