@use '../utilities/all' as *;

.hr {
	border: none;
	display: block;
	height: 2px;
	margin: 1.5rem 0;
	background: $lightgray;

	&.page-break {
		margin: 2.5rem 0;
		height: .33rem;
		width: 25%;
		background: $lavender;
		@include border-radius($radius-rounded,$radius-rounded);
	}
}
