@charset 'utf-8';

@forward 'utilities/all';
@forward 'base/all';
@forward 'components/all';
@forward 'elements/all';
@forward 'form/all';
@forward 'grid/all';
@forward 'helpers/all';
@forward 'layouts/all';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    // hide the scrollbar
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
