// core brand
$oxfordblue:    #0D203F;
$seagreen:      #34E8BD;

// secondary accents
$colablue:      #0E8FDD;
$lavender:      #BEA7E5;
$rust:          #EF946C;

// tertiary shades
$darkocean:     #0A455A;
$darkolive:     #1F7A8C;
$darkplum:      #525776;
$darkspace:     #213762;

$midblue:       #345995;
$midgreen:      #1FBCA0;

$lightgray:     #D9DBE8;
$lightlavender: #ECE5EE;
$lightlemon:    #F9F7EE;
$lightplum:     #D3C3D9;

$brand-colors: (
    'oxfordblue': $oxfordblue,
    'seagreen': $seagreen,
    'colablue': $colablue,
    'lavender': $lavender,
    'rust': $rust,
    'darkocean': $darkocean,
    'darkolive': $darkolive,
    'darkplum': $darkplum,
    'darkspace': $darkspace,
    'midblue': $midblue,
    'midgreen': $midgreen,
    'lightgray': $lightgray,
    'lightlavender': $lightlavender,
    'lightlemon': $lightlemon,
    'lightplum': $lightplum
);

@each $name, $color in $brand-colors {
    .is-#{$name} {
        background-color: $color;
    }
}

// light/dark variants
$oxfordblue-xlight: lighten($oxfordblue, 10%);
$oxfordblue-light: lighten($oxfordblue, 5%);
$oxfordblue-dark: darken($oxfordblue, 5%);
$oxfordblue-xdark: darken($oxfordblue, 10%);

$seagreen-xlight: lighten($seagreen, 20%);
$seagreen-light: lighten($seagreen, 10%);
$seagreen-dark: darken($seagreen, 10%);
$seagreen-xdark: darken($seagreen, 20%);

$colablue-xlight: lighten($colablue, 20%);
$colablue-light: lighten($colablue, 10%);
$colablue-dark: darken($colablue, 10%);
$colablue-xdark: darken($colablue, 20%);

$lavender-xlight: lighten($lavender, 20%);
$lavender-light: lighten($lavender, 10%);
$lavender-dark: darken($lavender, 10%);
$lavender-xdark: darken($lavender, 20%);

$rust-xlight: lighten($rust, 20%);
$rust-light: lighten($rust, 10%);
$rust-dark: darken($rust, 10%);
$rust-xdark: darken($rust, 20%);

$darkocean-xlight: lighten($darkocean, 10%);
$darkocean-light: lighten($darkocean, 5%);
$darkocean-dark: darken($darkocean, 5%);
$darkocean-xdark: darken($darkocean, 10%);

$darkolive-xlight: lighten($darkolive, 10%);
$darkolive-light: lighten($darkolive, 5%);
$darkolive-dark: darken($darkolive, 5%);
$darkolive-xdark: darken($darkolive, 10%);

$darkplum-xlight: lighten($darkplum, 10%);
$darkplum-light: lighten($darkplum, 5%);
$darkplum-dark: darken($darkplum, 5%);
$darkplum-xdark: darken($darkplum, 10%);

$darkspace-xlight: lighten($darkspace, 10%);
$darkspace-light: lighten($darkspace, 5%);
$darkspace-dark: darken($darkspace, 5%);
$darkspace-xdark: darken($darkspace, 10%);

$midblue-xlight: lighten($midblue, 20%);
$midblue-light: lighten($midblue, 10%);
$midblue-dark: darken($midblue, 10%);
$midblue-xdark: darken($midblue, 20%);

$midgreen-xlight: lighten($midgreen, 20%);
$midgreen-light: lighten($midgreen, 10%);
$midgreen-dark: darken($midgreen, 10%);
$midgreen-xdark: darken($midgreen, 20%);

$lightgray-xlight: lighten($lightgray, 10%);
$lightgray-light: lighten($lightgray, 5%);
$lightgray-dark: darken($lightgray, 5%);
$lightgray-xdark: darken($lightgray, 10%);

$lightlavender-xlight: lighten($lightlavender, 5%);
$lightlavender-light: lighten($lightlavender, 3%);
$lightlavender-dark: darken($lightlavender, 3%);
$lightlavender-xdark: darken($lightlavender, 5%);

$lightlemon-xlight: lighten($lightlemon, 3%);
$lightlemon-light: lighten($lightlemon, 1%);
$lightlemon-dark: darken($lightlemon, 1%);
$lightlemon-xdark: darken($lightlemon, 3%);

$lightplum-xlight: lighten($lightplum, 3%);
$lightplum-light: lighten($lightplum, 1%);
$lightplum-dark: darken($lightplum, 1%);
$lightplum-xdark: darken($lightplum, 3%);


// theme colors

// light mode
$bg-light: $lightlavender-xlight;
$card-bg-light: $lightlavender-xlight;
$card-content-bg-light: white;
$card-border-light: $lightlavender;
$message-bg-light: $darkplum-light;
$table-bg-light: $darkplum-light;
$tag-bg-light: $seagreen-xlight;
$tag-text-light: $oxfordblue;
$menu-label-light: #7a7a7a;
$text-light: $oxfordblue;
$text-strong-light: $oxfordblue-xdark;
$primary-light: $oxfordblue-light;
$link-light: $colablue-dark;
$info-light: $lavender-dark;
$success-light: $midgreen-dark;
$warning-light: $rust;
$danger-light: $rust-dark;
$border-light: white;
$hover-light: $lightlavender;
$logo-light: $oxfordblue;

// dark mode
$bg-dark: $oxfordblue;
$card-bg-dark: $oxfordblue-light;
$card-content-bg-dark: $oxfordblue;
$card-border-dark: $oxfordblue-dark;
$message-bg-dark: $darkplum-dark;
$table-bg-dark: $darkplum-dark;
$tag-bg-dark: $darkspace;
$tag-text-dark: $lavender;
$menu-label-dark: white;
$text-dark: white;
$text-strong-dark: $lightgray;
$primary-dark: $oxfordblue-xlight;
$link-dark: $seagreen-dark;
$info-dark: $lavender-dark;
$success-dark: $midgreen-dark;
$warning-dark: $rust;
$danger-dark: $rust-dark;
$border-dark: $darkocean;
$hover-dark: $darkspace;
$logo-dark: white;
