@use '../utilities/all' as *;

$render-mode: optimizeLegibility !default;

$body-font-size: 1em !default;
$body-line-height: 1.5 !default;
$body-weight: $font-weight-normal !default;

$hr-background-color: $border !default;
$hr-height: 2px !default;
$hr-margin: 1.5rem 0 !default;


html {
	font-size: $body-font-size;
	text-rendering: $render-mode;
	-webkit-font-smoothing: antialiased;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
	display: block;
}

body {
	@include themed {
		background-color: t($background);
		color: t($text);
	}

	font-family: $font-family-sans-serif;
	font-size: $body-font-size;
	font-weight: $body-weight;
	line-height: $body-line-height;
}

code,
pre {
	-webkit-font-smoothing: auto;
	font-family: $font-family-mono;
	font-size: $font-size-6;
	max-width: 100%;
	overflow-x: auto;
}

code {
	@include themed {
		background-color: t($code-background);
		color: t($code);
	}
}

pre {
	@include themed {
		background-color: t($pre-background);
		color: t($pre);
	}
}

hr {
	@include themed {
		background-color: t($hr-background-color);
	}
  border: none;
  display: block;
  height: $hr-height;
  margin: $hr-margin;
}

img {
	width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

small {
	font-size: $font-size-7;
}

table
td,
th {
	vertical-align: top;
	&:not([align]) {
		text-align: inherit;
	}

	th {
		@include themed {
			color: t($text-strong);
		}
	}
}

section {
	max-width: 48.5rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 7.5rem;
	padding-bottom: 7.5rem;
}

a {
	@include themed {
		color: t($link);
		&:hover {
			background-color: t($link-hover);
		}
	}
	cursor: pointer;
	text-decoration: none;
	strong {
		color: currentColor;
	}
}
