@use 'colors';
@use '../helpers/themes';
@use '../helpers/typography';
@use '../utilities/mixins';

$render-mode: optimizeLegibility !default;

$body-font-size: 1em !default;
$body-line-height: 1.5 !default;
$body-weight: typography.$font-weight-normal !default;

html {
	font-size: $body-font-size;
	text-rendering: $render-mode;
	-webkit-font-smoothing: antialiased;

	background-color: transparent;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
	display: block;
}

body {
	@include themes.themed() {
		background-color: themes.t(themes.$bg);
		color: themes.t(themes.$text);
	}

	font-family: typography.$font-family-sans-serif;
	font-size: $body-font-size;
	font-weight: $body-weight;
	line-height: $body-line-height;
}

code,
pre {
	-webkit-font-smoothing: auto;
	font-family: typography.$font-family-mono;
}

code,
pre {
	font-family: typography.$font-family-mono;
	font-size: typography.$font-size-6;
}

img {
	height: auto;
	max-width: 100%;
}

small {
	font-size: typography.$font-size-7;
}

table
td,
th {
	vertical-align: top;
	&:not([align]) {
		text-align: inherit;
	}

	th {
		@include themes.themed() {
			color: themes.t(themes.$text-strong);
		}
	}
}

a {
	@include themes.themed() {
		color: themes.t(themes.$link);
	}

	cursor: pointer;
	text-decoration: none;
	position: relative;
	border-radius: 0.333rem;

	&:hover {
		&:after {
			opacity: 1;
			left: 5%;
			right: 5%;
		}
	}

	&:after {
		position: absolute;
		text-align: center;
		background: colors.$colablue;
		content: " ";
		height: 0.125rem;
		bottom: -0.2rem;
		display: inline-block;
		opacity: 0;
		left: 33%;
		right: 33%;
		@include mixins.transition;
	}
}

section {
	max-width: 48.5rem;
	margin-left: auto;
	margin-right: auto;
}

hr {
	height: .33rem;
	width: 25%;
	background: colors.$lavender;
	@include mixins.border-radius(9999px,9999px);
	border: none;
	margin: 2.5rem 0;
}
