@use '../utilities/all' as *;

@include touch {
	.navbar-brand {
		padding-top: 1em;
		padding-bottom: 1em;

		svg {
			display: none !important;
		}

		.logo {
			width: 3rem;
			height: 3rem;
			background: url(../images/avatar.png) no-repeat 0 0;
			background-size: contain;
		}
	}
}
